.prev, .next {
   width: 25px;
   height: 25px;
   border: 1px solid #333;
   background: transparent;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 .5rem;
}

.invalid {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 .5rem;
   color: rgba(51, 51, 51, 0.2);
   border: 1px solid rgba(51, 51, 51, 0.2);
   cursor: not-allowed;
}

.paginate {
   width: 1500px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}