.bookCard {
   width: 330px;
   height: 180px;
   padding: 1rem .8rem;
   background: #ffffff;
   box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
   display: flex;
   border-radius: 4px;
   cursor: pointer;
   transition: .2s;
}

.bookCard:hover {
   background: #f2f2f2;
}

.book {
   width: 100px;
   height: 150px;
   margin-right: 1rem;
}

.bookInfo {
   width: 180px;
}

.bookDescription {
   display: flex;
   flex-direction: row;
}

.bookTitle {
   font-size: 14px;
   font-weight: bold;
   margin-bottom: .3rem;
}

.bookAuthor {
   font-size: 12px;
   color: #AB2680;
   margin-bottom: 2rem;
}

.bookPages, .bookEditor, .bookPublish {
   font-size: 12px;   
   color: #999999;
   margin-bottom: .2rem
}

.bookModalCard {
   width: 800px;
   height: 650px;
   padding: 1rem .8rem;
   background: #ffffff;
   box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
   display: flex;
   border-radius: 4px;
   cursor: pointer;
   transition: .2s;
}

.bookModal {
   width: 400px;
   height: 600px;
   margin-right: 2rem;
}

.bookInfoModal {
   width: 300px;
}

.bookTitleModal {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: .5rem;
}

.bookAuthorModal{
   font-size: 18px;
   color: #AB2680;
   margin-bottom: 5rem;
}

.bookPagesModal, .bookEditorModal, .bookPublishModal {
   font-size: 16px;   
   color: #999999;
   margin-bottom: .5rem
}

.infoModal {
   margin-bottom: 1rem;
}

.reactModalOverlay {
   background: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.overlayContent {
   background: transparent;
} 

.overlayContent:focus {
   outline: 0;
}