.title {
   max-width: 1365px;
   padding: 2.5rem 0;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: .8rem;
   font-size: 28px;
   font-weight: 300;
   color: #333;
 }

 .logo, .user {
   display: flex;
   gap: .8rem;
 }

 .logo {
   flex: 1;
 }

 .user {
   font-size: 1rem;
   margin-right: .1rem;  
 }

 .logoutBtn {
   width: 40px;
   height: 40px;
   border: 1.5px solid rgba(51, 51, 51, 0.2);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .icon {
   color: #333333
 }