.bg {
   width: 100vw;
   height: 100vh;
}

.cardsContainer {
   max-width: 1365px;
   /* height: 680px; */
   margin: 2rem auto 4rem;
   display: flex;
   flex-wrap: wrap;
   row-gap: 1.5rem;
   justify-content: space-between;
}