.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
}

.form {
   display: flex;
   flex-direction: column;
   margin-left: 7rem;
   color: #fff;
}

.title {
   display: flex;
   justify-content: flex-start;
   gap: .8rem;
   font-size: 28px;
   font-weight: 300;
   color: #fff;
   margin-bottom: 2.5rem;
 }

.inputEmail {
   position: relative;
   outline: none;
   border: none;
   background: rgba(0, 0, 0, 0.32);
   backdrop-filter: blur(2px);
   position: relative;
   border-radius: 4px;
   width: 26rem;
   height: 4rem;
   color: #fff;
   font-size: 1rem;
   margin-bottom: 2rem;
   padding: 1rem 1rem 0 .7rem;
}

.emailWrapper {
   position: relative;
}

.inputPass {
   position: relative;
   outline: none;
   border: none;
   background: rgba(0, 0, 0, 0.32);
   backdrop-filter: blur(2px);
   position: relative;
   border-radius: 4px;
   width: 26rem;
   height: 4rem;
   color: #fff;
   font-size: 1rem;
   margin-bottom: 2rem;
   padding: 1rem 1rem 0 .7rem;
}

.passwordWrapper {
   position: relative;
}

.label {
   position: absolute;
   padding-left: .7rem;
   padding-top: .5rem;
   color: rgba(255, 255, 255, 0.5);
   font-size: 12px;
   font-weight: 400;
   z-index: 1;
}

.password {
   position: relative;
}

.btn {
   background-color: #fff;
   text-decoration: none;
   position: absolute;
   top: .75rem;
   left: 20rem;
   padding: .5rem 1.1rem;
   border-radius: 44px;
   border: none;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 500;
   color: #B22E6F;
   transition: filter .3s;
}

.btn:hover {
   filter: opacity(85%);
}

.errors {
   font-size: 10px;
   font-weight: 500;
   display: flex;
   position: absolute;
   width: fit-content;
   padding: .4rem .8rem;
   background: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(2px);
   border-radius: 4px;
   margin-bottom: .3rem;
   z-index: 1;
   bottom: -8px;
}